<!DOCTYPE html>
    <head><title id='patientNameTitle'></title></head>
    <body>
        <h1 id='reportTitle'></h1>
        <h2>Heart Sound Report</h2>
        <img src="./heartPlot.png" alt="Heart data plot" id="heartPlot", width="800">
        <img src="./heartSpectogram.png" alt="Heart Spectogram" id="heartSpectogram", width="800"><br>
        <audio controls>
            <source src="./heartFile.wav" type="audio/wav" id="heartAudio">
            Your browser does not support the audio element.
        </audio>
        <p id='heartStats'></p>
        <img src="./heartZCR.png" alt="Heart ZCR" id="heartZCR", width="800">
        <img src="./heartShort Time Energy.png" alt="Heart Short Time Energy" id="heartShortEnergy", width="800">
        <img src="./heartEnergy Entropy.png" alt="Heart Energy Entropy" id="heartEnergyEntropy", width="800">
        <img src="./heartSpectral Centroid.png" alt="Heart Spectral Centroid" id="heartSpectralCentroid", width="800">
        <img src="./heartSpectral Spread.png" alt="Heart Spectral Spread" id="heartSpectralSpread", width="800">
        <img src="./heartSpectral Entropy.png" alt="Heart Spectral Entropy" id="heartSpectralEntropy", width="800">
        <img src="./heartSpectral Flux.png" alt="Heart Spectral Flux" id="heartSpectralFlux", width="800">
        <img src="./heartSpectral Rolloff.png" alt="Heart Spectral Rolloff" id="heartSpectralRolloff", width="800">

        <h2>Breath Sound Report</h2>
        <img src="./breathPlot.png" alt="Breath data plot" id="breathPlot" width="800">
        <img src="./breathSpectogram.png" alt="Breath Spectogram" id="breathSpectogram" width="800"><br>
        <audio controls>
            <source src="./breathFile.wav" type="audio/wav" id="breathAudio">
            Your browser does not support the audio element.
        </audio>
        <p id='breathStats'></p>
        <img src="./breathZCR.png" alt="breath ZCR" id="breathZCR", width="800">
        <img src="./breathShort Time Energy.png" alt="breath Short Time Energy" id="breathShortEnergy", width="800">
        <img src="./breathEnergy Entropy.png" alt="breath Energy Entropy" id="breathEnergyEntropy", width="800">
        <img src="./breathSpectral Centroid.png" alt="breath Spectral Centroid" id="breathSpectralCentroid", width="800">
        <img src="./breathSpectral Spread.png" alt="breath Spectral Spread" id="breathSpectralSpread", width="800">
        <img src="./breathSpectral Entropy.png" alt="breath Spectral Entropy" id="breathSpectralEntropy", width="800">
        <img src="./breathSpectral Flux.png" alt="breath Spectral Flux" id="breathSpectralFlux", width="800">
        <img src="./breathSpectral Rolloff.png" alt="breath Spectral Rolloff" id="breathSpectralRolloff", width="800">

        <h2>Speech Sound Report</h2>
        <img src="./speechPlot.png" alt="Speech data plot" id="speechPlot" width="800">
        <img src="./speechSpectogram.png" alt="Speech Spectogram" id="speechSpectogram" width="800"><br>
        <audio controls>
            <source src="./speechFile.wav" type="audio/wav" id="speechAudio">
            Your browser does not support the audio element.
        </audio>
        <p id='speechStats'></p>
        <img src="./speechZCR.png" alt="speech ZCR" id="speechZCR", width="800">
        <img src="./speechShort Time Energy.png" alt="speech Short Time Energy" id="speechShortEnergy", width="800">
        <img src="./speechEnergy Entropy.png" alt="speech Energy Entropy" id="speechEnergyEntropy", width="800">
        <img src="./speechSpectral Centroid.png" alt="speech Spectral Centroid" id="speechSpectralCentroid", width="800">
        <img src="./speechSpectral Spread.png" alt="speech Spectral Spread" id="speechSpectralSpread", width="800">
        <img src="./speechSpectral Entropy.png" alt="speech Spectral Entropy" id="speechSpectralEntropy", width="800">
        <img src="./speechSpectral Flux.png" alt="speech Spectral Flux" id="speechSpectralFlux", width="800">
        <img src="./speechSpectral Rolloff.png" alt="speech Spectral Rolloff" id="speechSpectralRolloff", width="800">
        <script src="control.js"></script>
    </body>